* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;

}

.header {
    position: sticky;
    height: 70px;
}

.header nav {
    height: 70px;

}
.nav-sin-back {
    background-color: transparent;
}
.main-inicio {
    height: 100vh;
    position: relative;
}

.main-inicio img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.main-inicio-text {
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio-texto {
    text-align: center;
}

.inicio-texto h1{
    font-size: 3.4rem;
    font-weight: 100;
    z-index: 1;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.inicio-texto p {
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}

.inicio-texto-banner {
    position: absolute;
    bottom: 50px;
    text-align: center;
}

.inicio-texto-banner h3 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin: 0 20px;
}

.footer-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e9d3c0;
    padding: 1rem 2rem;
    gap: 1rem;
}

.footer-lista {
    margin-bottom: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
    flex-wrap: wrap
}

.footer-lista a {
    color: #a18167;
}



.footer-texto p {
    margin-bottom: 0;
}

.navbar-nav li a{
    text-transform: uppercase;
    font-weight: 300;
}

.active {
    color: #a0a0a0 !important; 
}
/* .nav-item a.active {
    color: #a0a0a0;
} */

/* Cambiar el color del texto al pasar el cursor */
.color-nav-link:hover {
    color: #a0a0a0 !important; /* Cambia al color deseado */
}



.logo-nav {
    position: absolute;
    margin: 0;
    height: 90%;
    padding: 0;
}

.logo-nav-responsive {
    height: 90%;
}

.logo-nav img, .logo-nav-responsive img {
    width: 100%;
    height: 100%;
}

.hamburguer-color {
    color: #fff;
    border-color: #fff;
}


.back-nav {
    background-color: #e9d3c0;
}



.logo-nav {
    display: none;
}
.contenedor-nav {
    display: flex;
    width: 100%;
    justify-content: end;
}
.back-nav-resposive {
    background-color: #e9d3c0;
}



@media screen and (min-width: 992px){
    .logo-nav {
        display: flex;
    }

    .active {
        color: #a0a0a0 !important; /* Cambiar a tu color de texto preferido */
    }
    .nav-item a.active {
        color: #f3f3f3;
    }

    .nav-item .color-nav-a {
        color: #000 !important;
    }
    
    .color-nav-link:hover {
        color: #a0a0a0 !important; /* Cambia al color deseado */
    }
}


.servios-fila {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.servicios-contenedor-arriba {
    display: grid;
    row-gap: 3rem;
    padding: 2rem 1rem;
    align-items: center;

}

.servicios-contenedor .servicios-item {
    
    width: 100%;
}

.servicios-contenedor .servicios-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.servicios-contenedor-abajo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 1rem;
    align-items: center;
    row-gap: 3rem;
}
.servicios-contenedor-abajo .servicios-item-abajo img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.servicios-estilos-texto h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: solid;
}

.servicios-estilos-texto p {
    text-align: center;
}

.servicios-estilos-texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.servicios-main h1 {
    padding: 40px;
    text-align: center;
    background-color: #e8e8e8;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* tablet */
@media screen and (min-width: 600px) {
    .servicios-estilos-texto p {
        text-align: start;
    }
}


/* desktop */
@media screen and (min-width: 1024px){
    .servicios-contenedor-arriba {
        display: flex;
        flex-direction: column;
    }

    .servicios-item {
        display: flex;
    }

    .servicios-contenedor .servicios-item img {
        height: 420px;
        width: 600px;
    }

    .servicios-estilos-texto {
        justify-content: center;
        padding: 0 1rem;
    }

    .servicios-contenedor-abajo {
        display: flex;
        gap: 3rem;
    }
    
    .servicios-item-abajo {
        /* height: 500px; */
    }

    .servicios-contenedor-abajo .servicios-item-abajo img {
        height: 35%;
    }

    .servios-fila {
        grid-template-rows: repeat(1, 1fr);
    }
}


/* estilos nosotros */
.nosotros-imagenes {
    height: 50%;
}

.nosotros-imagenes img, .objetivo-contenedor-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nosotros-section .nosotros-item, .objetivo-contenedor .objetivo-contenedor-item {
    padding: 2rem 1rem;
}

.nosotros-item h2, .objetivo-texto-derecha h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: solid;
}

.nosotros-item p {
    text-align: center;
}


.nosotros-section .nosotros-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nosotros-imagenes  {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}