* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  height: 70px;
  z-index: 5;
}
header nav {
  height: 70px;
  background-color: #a18167;
}
header nav .logo-nav {
  display: none;
  position: absolute;
  margin: 0;
  height: 90%;
  padding: 0 1.5rem;
}
header nav .logo-nav img {
  width: 100%;
  height: 100%;
}
header nav .contenedor-nav {
  display: flex;
  width: 100%;
  justify-content: end;
}
header nav .contenedor-nav .hamburguer-color {
  color: #fff;
  border-color: #fff;
}
header nav .contenedor-nav div div .logo-nav-responsive {
  height: 90%;
}
header nav .contenedor-nav div div .logo-nav-responsive img {
  width: 100%;
  height: 100%;
}
header nav .contenedor-nav div div ul li .active {
  color: #e9d3c0 !important;
}
header nav .contenedor-nav div div ul li a {
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.5s ease;
}
header nav .contenedor-nav div div ul li a:hover {
  color: #e9d3c0;
}

.back-nav {
  background: #a18167;
}

.footer-principal {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #a18167;
  padding: 1rem 2rem;
  gap: 1rem;
}
.footer-principal .footer-lista {
  margin-bottom: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0;
  flex-wrap: wrap;
  color: #e9d3c0;
}
.footer-principal .footer-lista a {
  color: #e9d3c0;
}
.footer-principal .footer-texto p {
  margin-bottom: 0;
}

@keyframes banner {
  0%, 20% {
    background-image: url(../img/banner1.jpg);
  }
  25%, 45% {
    background-image: url(../img/banner2.png);
  }
  50%, 70% {
    background-image: url(../img/banner3.png);
  }
  75%, 100% {
    background-image: url(../img/banner4.png);
    transform: scale(1.2);
  }
}
.main-inicio {
  height: calc(100vh - 70px);
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.main-inicio .back-negro {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6392156863);
}
.main-inicio .img-main {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: banner 10s infinite linear alternate;
  background-size: cover;
  position: absolute;
}
.main-inicio .main-inicio-text {
  position: relative;
  height: calc(100vh - 70px);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.main-inicio .main-inicio-text .inicio-texto {
  text-align: center;
}
.main-inicio .main-inicio-text .inicio-texto h1 {
  font-size: 3.4rem;
  font-weight: 100;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  z-index: 5;
}
.main-inicio .main-inicio-text .inicio-texto p {
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.main-inicio .main-inicio-text .inicio-texto-banner {
  position: absolute;
  bottom: 50px;
  text-align: center;
}
.main-inicio .main-inicio-text .inicio-texto-banner h3 {
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 20px;
}

.servicios-main h1 {
  padding: 40px;
  text-transform: uppercase;
  text-align: center;
  background-color: #e8e8e8;
  letter-spacing: 5px;
}
.servicios-main .servicios-fila {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
}
.servicios-main .servicios-fila .servicios-contenedor-arriba {
  display: grid;
  row-gap: 3rem;
  padding: 2rem 1rem;
  align-items: center;
}
.servicios-main .servicios-fila .servicios-contenedor-arriba .servicios-contenedor .servicios-item {
  overflow: hidden;
  width: 100%;
}
.servicios-main .servicios-fila .servicios-contenedor-arriba .servicios-contenedor .servicios-item .servicios-estilos-texto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.servicios-main .servicios-fila .servicios-contenedor-arriba .servicios-contenedor .servicios-item .servicios-estilos-texto h2 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
  padding: 15px 0;
  border-bottom: solid;
}
.servicios-main .servicios-fila .servicios-contenedor-arriba .servicios-contenedor .servicios-item .servicios-estilos-texto p {
  text-align: center;
}
.servicios-main .servicios-fila .servicios-contenedor-arriba .servicios-contenedor .servicios-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.servicios-main .servicios-fila .servicios-contenedor-abajo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem 1rem;
  align-items: center;
  row-gap: 3rem;
}
.servicios-main .servicios-fila .servicios-contenedor-abajo .servicios-item-abajo {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.servicios-main .servicios-fila .servicios-contenedor-abajo .servicios-item-abajo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servicios-main .servicios-fila .servicios-contenedor-abajo .servicios-item-abajo .servicios-estilos-texto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.servicios-main .servicios-fila .servicios-contenedor-abajo .servicios-item-abajo .servicios-estilos-texto h2 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
  padding: 15px 0;
  border-bottom: solid;
}
.servicios-main .servicios-fila .servicios-contenedor-abajo .servicios-item-abajo .servicios-estilos-texto p {
  text-align: center;
}

.nosotros-main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nosotros-main .nosotros-section .nosotros-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}
.nosotros-main .nosotros-section .nosotros-item h2 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
  padding: 15px 0;
  border-bottom: solid;
}
.nosotros-main .nosotros-section .nosotros-item p {
  text-align: center;
}
.nosotros-main .nosotros-section .nosotros-item .nosotros-imagenes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 50%;
}
.nosotros-main .nosotros-section .nosotros-item .nosotros-imagenes img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nosotros-main .objetivo-contenedor .objetivo-contenedor-item {
  padding: 2rem 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
}
.nosotros-main .objetivo-contenedor .objetivo-contenedor-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nosotros-main .objetivo-contenedor .objetivo-contenedor-item .objetivo-texto-derecha {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nosotros-main .objetivo-contenedor .objetivo-contenedor-item .objetivo-texto-derecha h2 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
  padding: 15px 0;
  border-bottom: solid;
}
.nosotros-main .objetivo-contenedor .objetivo-contenedor-item .objetivo-texto-derecha p {
  text-align: center;
}

.proyectos-main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem 1rem;
}
.proyectos-main h1 {
  text-transform: uppercase;
  text-align: center;
}
.proyectos-main .proyectos-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}
.proyectos-main .proyectos-buttons .active-proyecto-buttons {
  color: #fff;
  padding: 14px 30px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #000;
}
.proyectos-main .proyectos-buttons .button-no-seleccionado {
  color: #000;
  padding: 14px 30px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #000;
  transition: 0.5s ease;
}
.proyectos-main .proyectos-buttons .button-no-seleccionado:hover {
  background-color: #000;
  color: #fff;
}
.proyectos-main .galeria-proyectos {
  display: grid;
  gap: 1rem;
}
.proyectos-main .galeria-proyectos figure {
  overflow: hidden;
  cursor: pointer;
  margin: 0;
}
.proyectos-main .galeria-proyectos figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}
.proyectos-main .galeria-proyectos figure img:hover {
  transform: scale(1.2);
}

.contacto-main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
  padding: 2rem 2rem 7rem 2rem;
}
.contacto-main .contacto-formulario {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.59);
  padding: 2rem 1.3rem;
  gap: 1rem;
  border-radius: 50px;
}
.contacto-main .contacto-formulario h2 {
  text-transform: uppercase;
  text-align: center;
}
.contacto-main .contacto-formulario form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contacto-main .contacto-formulario form .form-input-contacto, .contacto-main .contacto-formulario form textarea {
  padding: 0.3rem 0.4rem;
  border: 1px solid #a3a3a3;
}
.contacto-main .contacto-formulario form textarea {
  resize: none;
  height: 150px;
}
.contacto-main .contacto-formulario form button {
  padding: 7px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
}
.contacto-main .contacto-ubicacion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.contacto-main .contacto-ubicacion h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.contacto-main .contacto-ubicacion iframe {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .proyectos-main .proyectos-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
  .proyectos-main .galeria-proyectos {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .contacto-main {
      .contacto-formulario {
          margin: 3rem 2rem;
      }
  } */
}
@media screen and (min-width: 992px) {
  header nav .logo-nav {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .servicios-main .servicios-fila {
    grid-template-rows: auto;
  }
  .servicios-main .servicios-fila .servicios-contenedor-arriba {
    display: flex;
    flex-direction: column;
  }
  .servicios-main .servicios-fila .servicios-contenedor-arriba .servicios-contenedor .servicios-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .servicios-main .servicios-fila .servicios-contenedor-arriba .servicios-contenedor .servicios-item .servicios-estilos-texto {
    justify-content: center;
    padding: 0 1rem;
  }
  .servicios-main .servicios-fila .servicios-contenedor-abajo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }
  .servicios-main .servicios-fila .servicios-contenedor-abajo .servicios-item-abajo img {
    height: 300px;
  }
  .nosotros-main {
    overflow: hidden;
  }
  .nosotros-main .nosotros-section .nosotros-item .nosotros-imagenes {
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
  }
  .nosotros-main .objetivo-contenedor .objetivo-contenedor-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .proyectos-main .proyectos-buttons {
    place-content: center;
    grid-template-columns: repeat(4, 240px);
  }
  .proyectos-main .galeria-proyectos {
    grid-template-columns: repeat(5, 1fr);
  }
  .contacto-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@keyframes banner {
  0%, 20% {
    background-image: url(../img/banner1.jpg);
  }
  25%, 45% {
    background-image: url(../img/banner2.png);
  }
  50%, 70% {
    background-image: url(../img/banner3.png);
  }
  75%, 100% {
    background-image: url(../img/banner4.png);
    transform: scale(1.2);
  }
}

/*# sourceMappingURL=style.css.map */
