* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;

}

.header {

}

.nav-sin-back {
    background-color: transparent;
}
.main-inicio {
    height: 100vh;
    position: relative;
}

.main-inicio img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.main-inicio-text {
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio-texto {
    text-align: center;
}

.inicio-texto h1{
    font-size: 3.4rem;
    font-weight: 100;
    z-index: 1;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.inicio-texto p {
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}

.inicio-texto-banner {
    position: absolute;
    bottom: 50px;
    text-align: center;
}

.inicio-texto-banner h3 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin: 0 20px;
}

.footer-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e9d3c0;
    padding: 1rem 2rem;
    gap: 1rem;
}

.footer-lista {
    margin-bottom: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
    flex-wrap: wrap
}

.footer-lista a {
    color: #a18167;
}



.footer-texto p {
    margin-bottom: 0;
}

.active {
    color: #a0a0a0 !important; 
}
/* .nav-item a.active {
    color: #a0a0a0;
} */

/* Cambiar el color del texto al pasar el cursor */
.color-nav-link:hover {
    color: #a0a0a0 !important; /* Cambia al color deseado */
}



.logo-nav {
    position: absolute;
    margin: 0;
    height: 90%;
    padding: 0;
}

.logo-nav-responsive {
    height: 90%;
}

.logo-nav img, .logo-nav-responsive img {
    width: 100%;
    height: 100%;
}

.hamburguer-color {
    color: #fff;
    border-color: #fff;
}

.back-nav-resposive {
    background-color: #e9d3c0;
}




.logo-nav {
    display: none;
}
.contenedor-nav {
    display: flex;
    width: 100%;
    justify-content: end;
}



@media screen and (min-width: 992px){
    .logo-nav {
        display: flex;
    }

    .active {
        color: #a0a0a0 !important; /* Cambiar a tu color de texto preferido */
    }
    .nav-item a.active {
        color: #f3f3f3;
    }

    .nav-item .color-nav-a {
        color: #fff !important;
    }

    .color-nav-link:hover {
        color: #a0a0a0 !important; /* Cambia al color deseado */
    }
}