* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;

}

.header {
    position: sticky;
    height: 70px;
}

.header nav {
    height: 70px;

}
.nav-sin-back {
    background-color: transparent;
}
.main-inicio {
    height: 100vh;
    position: relative;
    z-index: -7;
}

.main-inicio img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.main-inicio-text {
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio-texto {
    text-align: center;
}

.inicio-texto h1{
    font-size: 3.4rem;
    font-weight: 100;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    z-index: 1;
}

.inicio-texto p {
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.inicio-texto-banner h3 {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 20px;
}

.inicio-texto-banner {
    position: absolute;
    bottom: 50px;
    text-align: center;
}


.footer-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #a18167;
    padding: 1rem 2rem;
    gap: 1rem;
    margin-top: 117px;
}

.footer-lista {
    margin-bottom: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
    flex-wrap: wrap;
    color: #e9d3c0;
}

.footer-lista a {
    color:black;
}



.footer-texto p {
    margin-bottom: 0;
}

.navbar-nav li a{
    text-transform: uppercase;
    font-weight: 300;
}

.active {
    color: #e9d3c0 !important; 
}
/* .nav-item a.active {
    color: #a0a0a0;
} */

/* Cambiar el color del texto al pasar el cursor */
.color-nav-link:hover {
    color: #e9d3c0 !important; /* Cambia al color deseado */
}



.logo-nav {
    position: absolute;
    margin: 0;
    height: 90%;
    padding: 0 1.5rem;
}

.logo-nav-responsive {
    height: 90%;
}

.logo-nav img, .logo-nav-responsive img {
    width: 100%;
    height: 100%;
}

.hamburguer-color {
    color: #fff;
    border-color: #fff;
}


.back-nav {
    background-color: #a18167;
}



.logo-nav {
    display: none;
}
.contenedor-nav {
    display: flex;
    width: 100%;
    justify-content: end;
}
.back-nav-resposive {
    background-color: #a18167;
}



@media screen and (min-width: 992px){
    .logo-nav {
        display: flex;
    }
}


.servicios-fila {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.servicios-contenedor-arriba {
    display: grid;
    row-gap: 3rem;
    padding: 2rem 1rem;
    align-items: center;
}

.servicios-contenedor .servicios-item {
    
    width: 100%;
}

.servicios-contenedor .servicios-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.servicios-contenedor-abajo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 1rem;
    align-items: center;
    row-gap: 3rem;
}
.servicios-contenedor-abajo .servicios-item-abajo img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.servicios-estilos-texto h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    padding: 15px 0;
    border-bottom: solid;
}

.servicios-estilos-texto p {
    text-align: center;
}

.servicios-estilos-texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.servicios-main h1 {
    padding: 40px;
    text-transform: uppercase;
    text-align: center;
    background-color: #e8e8e8;
    letter-spacing: 5px;
}

/* tablet */
@media screen and (min-width: 600px) {
    .servicios-estilos-texto p {
        text-align: start;
    }
}


/* desktop */
@media screen and (min-width: 1024px){
    .servicios-contenedor-arriba {
        display: flex;
        flex-direction: column;
    }

    .servicios-item {
        display: flex;
    }

    .servicios-contenedor .servicios-item img {
        height: 420px;
        width: 600px;
    }

    .servicios-estilos-texto {
        justify-content: center;
        padding: 0 1rem;
    }

    .servicios-contenedor-abajo {
        display: flex;
        /* otra opcion xd */
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr); */
        gap: 3rem;
    }
    
    /* .servicios-item-abajo {
        height: 500px;
    } */

    .servicios-contenedor-abajo .servicios-item-abajo img {
        height: 35%;
    }

    .servicios-fila {
        grid-template-rows: repeat(1, 1fr);
    }
}


/* estilos nosotros */
.nosotros-imagenes {
    height: 50%;
}

.nosotros-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nosotros-imagenes img, .objetivo-contenedor-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nosotros-section .nosotros-item, .objetivo-contenedor .objetivo-contenedor-item {
    padding: 2rem 1rem;
}

.nosotros-item h2, .objetivo-texto-derecha h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    padding: 15px 0;
    border-bottom: solid;
}

.nosotros-item p {
    text-align: center;
}


.nosotros-section .nosotros-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nosotros-imagenes  {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.objetivo-texto-derecha p {
    text-align: center;
}

.objetivo-contenedor .objetivo-contenedor-item {
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
}

.objetivo-texto-derecha {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1024px){
    .nosotros-imagenes {
        flex-direction: row;
        height: 200px;
        justify-content: space-between;
    }
    .nosotros-imagenes img {
        width: 30%;
    }

    .objetivo-contenedor .objetivo-contenedor-item {
        flex-direction: row;
        align-items: center;
    }

    .objetivo-contenedor-item img {
        height: 400px;
        width: 40%;
    }
}


/* proyectos */
.proyectos-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 1rem;
}

.galeria-proyectos img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.proyectos-buttons {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.proyectos-buttons .button-no-seleccionado {
    color: #000;
    padding: 14px 30px;
    text-decoration: none;
    border: 1px solid #000;
}


.proyectos-buttons .button-no-seleccionado:hover {
    background-color: #000;
    color: #fff;

}
.active-proyecto-buttons {
    color: #fff;
    background-color: #000;
    padding: 14px 30px;
    text-decoration: none;
    border: 1px solid #000;
}
.proyectos-main h1 {
    text-transform: uppercase;
    text-align: center;
}

.galeria-proyectos {
    display: grid;
    gap: 1rem;
    margin-top: 40px;
    
}




/* proyectos tablet */
@media screen and (min-width: 600px) {
    .galeria-proyectos {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .proyectos-buttons {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* proyectos desktop */
@media screen and (min-width: 1024px) {
    .galeria-proyectos {
        grid-template-columns: repeat(5, 1fr);
    }
    
    .proyectos-buttons {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* estilos contacto */
.contacto-formulario {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem 1.3rem;
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 50px;
}

.contacto-main .contacto-formulario form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacto-main .contacto-formulario form input, .contacto-main .contacto-formulario form textarea{
    padding: 0.3rem 0.4rem;
    border: 1px solid;
}

.contacto-main .contacto-formulario form textarea {
    resize: none;
    height: 150px;
}

.contacto-main .contacto-formulario form button {
    padding: 7px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 20px;
}

.contacto-main .contacto-formulario h2 {
    text-transform: uppercase;
    text-align: center;
}

.contacto-ubicacion {
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    gap: 1rem;
}

.contacto-ubicacion h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.contacto-ubicacion iframe {
    width: 100%;
}


@media screen and (min-width: 600px) {
    .contacto-formulario {
        margin: 3rem 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .contacto-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contacto-ubicacion {
        margin: 3rem 2rem;
        padding: 0;
    }

    .contacto-ubicacion iframe {
        height: 90%;
    }
}