@import "../utilidades/mixin";
@import "../utilidades/animaciones";

.main-inicio {
    height: calc(100vh - 70px);
    position: relative;
    z-index: -1;
    overflow: hidden;

    .back-negro {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 5;
        background: #000000a3;
    }

    .img-main {
        @include ancho-alto-cover;
        animation: banner 10s infinite linear alternate;
        // background-image: url(../img/banner1.jpg);
        background-size: cover;
        position: absolute;
    }

    .main-inicio-text {
        position: relative;
        height: calc(100vh - 70px);

        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 6;

        .inicio-texto {
            text-align: center;

            h1 {
                @include inicio-texto(3.4rem, 100, 0.25rem);
                z-index: 5;
            }

            p {
                @include inicio-texto(1.1rem, 200, 2px);
                text-align: center;
            }
        }

        .inicio-texto-banner {
            position: absolute;
            bottom: 50px;
            text-align: center;

            h3 {
                @include inicio-texto(0.8rem, 200, 2px);
                margin: 0 20px;
            }
        }
    }
}