@import "../utilidades/mixin";

.servicios-main {
    h1 {
        padding: 40px;
        text-transform: uppercase;
        text-align: center;
        background-color: #e8e8e8;
        letter-spacing: 5px;
    }

    .servicios-fila {
        @include grid;

        .servicios-contenedor-arriba {
            display: grid;
            row-gap: 3rem;
            padding: 2rem 1rem;
            align-items: center;

            .servicios-contenedor {
                .servicios-item {
                    width: 100%;

                    .servicios-estilos-texto {
                        @include flex-direccion;
                        gap: 1rem;

                        h2 {
                            @include servicios-style-text;
                        }

                        p {
                            text-align: center;
                        }
                    }

                    img {
                        @include ancho-alto(100%, 100%);
                        object-fit: cover
                    }
                }
            }
        }

        .servicios-contenedor-abajo {
            @include grid;
            padding: 2rem 1rem;
            align-items: center;
            row-gap: 3rem;

            .servicios-item-abajo {
                img {
                    @include ancho-alto(100%, 100%);
                    object-fit: cover;
                }

                .servicios-estilos-texto {
                    h2 {
                        @include servicios-style-text;
                    }
                }
            }
        }
    }
}