@import "../../utilidades/mixin";

@media screen and (min-width: 992px) {
    header {
        nav {
            .logo-nav {
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .servicios-main {
        .servicios-fila {
            // grid-template-rows: repeat(1, 1fr);

            grid-template-rows: auto;

            .servicios-contenedor-arriba {
                @include flex-direccion;

                .servicios-contenedor {
                    .servicios-item {

                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(1, 1fr);
                        
                        .servicios-estilos-texto {
                            justify-content: center;
                            padding: 0 1rem;
                        }
                    }
                }
            }

            .servicios-contenedor-abajo {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                gap: 2rem;

                .servicios-item-abajo {
                    img {
                        height: 300px;
                    }
                }
            }
        }
    }

    .nosotros-main {
        overflow: hidden;
        .nosotros-section {
            .nosotros-item {
                .nosotros-imagenes {
                    flex-direction: row;
                    height: 200px;
                    justify-content: space-between;
                }
            }
        }

        .objetivo-contenedor {
            .objetivo-contenedor-item {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
            }
        }
    }

    .proyectos-main {
        .proyectos-buttons {
            place-content: center;
            grid-template-columns: repeat(4, 240px);
        }

        .galeria-proyectos {
            grid-template-columns: repeat(5, 1fr);

        }
    }

    .contacto-main {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
    }
}