@mixin flex-direccion {
    display: flex;
    flex-direction: column;
}

@mixin text-estilos {
    text-transform: uppercase;
    text-align: center;
}

@mixin ancho-alto ($width, $height) {
    width: $width;
    height: $height;
}

@mixin inicio-texto ($font-size, $font-weight, $letter-spacing) {
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
}

@mixin grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

@mixin servicios-style-text {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    padding: 15px 0;
    border-bottom: solid;
}

@mixin nosotros-h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    padding: 15px 0;
    border-bottom: solid;
}